{% extends 'base.html.twig' %}

{% block title %}{{title_logo}}{% endblock %}

{% block logo %}{{title_logo}}{% endblock %}

{% block legend %}{{legend}}{% endblock legend%}

{% block form_calculate_price %}

{#Форма сохранения счет-фактур#}
    
    {{ form_start(form_calculate_price, { attr:  {novalidate: 'novalidate'} }) }}

        {#{{ dump(app.flashes('children[price]')[0]) }}#}
        {#Переменный для вывода данных в форме когда форма не прошла валидацию#}
        {#{% set number_document = '' %}
        {% set data_invoice = '' %}
        {% set id_counterparty = '' %}
        {% set part_numbers = '' %}
        {% set manufacturers = '' %}#}

       {# {% for value_number_document in app.flashes('number_document') %}  
        {% set number_document = value_number_document %}
        {% endfor %}
        <th>{{ form_label(form_i_d.number_document) }}<br>
        {{ form_widget(form_i_d.number_document, {value : number_document}) }}<br>
        {% for message in app.flashes('children[number_document].data') %}
        {{ message }}
        {% endfor %}
        {{ form_errors(form_i_d.number_document) }}</th>#}

        <th>{{ form_label(form_calculate_price.products) }}<br>
        {{ form_widget(form_calculate_price.products) }}<br>
        {{ form_errors(form_calculate_price.products) }}</th>

        <th>{{ form_label(form_calculate_price.coupons) }}<br>
        {{ form_widget(form_calculate_price.coupons) }}<br>
        {{ form_errors(form_calculate_price.coupons) }}</th>

        <th>{{ form_label(form_calculate_price.taxes) }}<br>
        {{ form_widget(form_calculate_price.taxes) }}<br>
        {{ form_errors(form_calculate_price.taxes) }}</th>

         <th>{{ form_widget(form_calculate_price.button, { 'label': 'Calculate', 'attr': {'class': 'save'} }) }}</th>

    {{ form_end(form_calculate_price) }}
   
{% endblock form_calculate_price %}


{% block table_calculate_price %}
{#Таблица#}
{#{% if arr_incoming_documents %}
    {% for arr_search_invoice in arr_incoming_documents %}
        {% if arr_search_invoice %}#}
            <th>Products</th>
            <th>Coupon</th>
            <th>Tax</th>
            <th>Total amount</th>
            <th>Action</th>
            <th>Action</th>
        {#{% endif %}
    {% endfor %}
{% else %}
    <h2>Видите параметры в поиск</h2> 
{% endif %}#}
{% endblock table_calculate_price %}

{#{% block tbody_calculate_price %}
        {#выводит таблицу по поиску#}
       {# {% for arr_search_invoice in arr_incoming_documents %}
            {% if arr_search_invoice %}
                {% for incoming_documents in arr_search_invoice %}

                    <tr>
                        {% if incoming_documents.getSales() == 1 
                        and incoming_documents.getRefund() == 1 %}

                            <td>{{ incoming_documents.getNumberDocument() }}</td>

                            <td>{{ incoming_documents.getDataInvoice()|date("d-m-Y") }}</td>

                            <td>{{ incoming_documents.getIdCounterparty().getCounterparty() }}</td>

                            <td>{{ incoming_documents.getIdDetails().getPartNumbers() }}</td>

                            {#<td>{{ incoming_documents.getIdManufacturer().getManufacturers() }}</td>

                            <td>{{ incoming_documents.getIdNameDetail(). getNameDetails() }}</td>#}

 {#                           <td>{{ incoming_documents.getQuantity() - incoming_documents.getQuantitySold() }}</td>

                            <td>{{ ((incoming_documents.getPrice() / 100) 
                                        / incoming_documents.getQuantity())|number_format(2, '.', '') }}</td>

                            <td>{{ (incoming_documents.getPrice() / 100) - (((incoming_documents.getPrice() / 100) 
                                        / incoming_documents.getQuantity()) * incoming_documents.getQuantitySold()) }}</td>

                            <form action="/sales_parts" name="form_sales" method="post">

                                {#Переменный для вывода данных в форме когда форма не прошла валидацию#}
 {#}                               {% set quantity_sold = '' %}
                                {% set price_sold = '' %}
                                {% set date_sold = '' %}

                                    {% for value_quantity_sold in app.flashes('quantity_sold') %}  
                                        {% set quantity_sold = value_quantity_sold %}
                                    {% endfor %}
                                    {% for value_price_sold in app.flashes('price_sold') %}  
                                        {% set price_sold = value_price_sold %}
                                    {% endfor %}
                                    {% for value_date_sold in app.flashes('date_sold') %}  
                                        {% set date_sold = value_date_sold %}
                                    {% endfor %}
                                
                                <td><input type="number" name="quantity_sold" required="required" 
                                    style="width: 70px" placeholder="шт" value="{{ quantity_sold }}" />
                                            {% for message in app.flashes('[quantity_sold_error]') %}
                                            {{ message }}
                                            {% endfor %}
                                            {% for message in app.flashes('[sum_quantity_sold_error]') %}
                                            {% endfor %}</td>

                                
                                <td><input type="number" name="price_sold" required="required" 
                                    style="width: 98px" placeholder="Цена" value="{{ price_sold }}" />
                                            {% for message in app.flashes('[price_sold_error]') %}
                                            {{ message }}
                                            {% endfor %}</td>
                                
                                <td><input type="date" name="date_sold" required="required" value="{{ date_sold }}" /></td>

                                <td><button class="sales" type="submit" name="sales" value="{{ incoming_documents.getId() }}">Продано</button></td>  

                            </form>

                            <form action="/refund_part" name="refund_part" method="get">

                                <td><button class="refund" type="submit" name="refund_part" value="{{ incoming_documents.getId() }}">Возврат</button></td>
                                
                            </form>
                            <form action="/delete_invoice" name="delete_invoice" method="post">

                                <td><button class="delete" type="submit" name="delete_invoice" value="{{ incoming_documents.getId() }}">Удалить</button></td>
                                
                            </form>
                        {% endif %}
                    </tr>   
                {% endfor %}
            {% else %}
                <h2>Данные не найдены. Видите параметры в поиск</h2>  
            {% endif %}
        {% endfor %}
    
{% endblock tbody_calculate_price %}#}