{% extends 'base.html.twig' %}

{% block h3 %}{% endblock h3 %}

{% block title %}{{title_logo}}{% endblock %}

{% block logo %}{{title_logo}}{% endblock %}

{% block legend %}{{legend}}{% endblock legend%}



{% block name_product %}
    {% for value_product in arr_products %} 

            <th>{{ value_product.getNameProduct() }}</th>

    {% endfor %}        
{% endblock name_product %}

{% block price_product %}
    {% for value_product in arr_products %} 

        <td>{{ value_product.getPriceProduct() }} euro</td>

    {% endfor %}
{% endblock price_product %}

{% block h2 %}
    <br><h2>Select the product, if available, specify the discount coupon, specify the tax number</h2></br>
{% endblock h2 %}

{% block form_calculate_price %} 

    {#Форма сохранения счет-фактур#}
    
    {{ form_start(form_calculate_price, { attr:  {novalidate: 'novalidate'} }) }}

        {#{{ dump(arr_error) }}#}
        <th>{{ form_label(form_calculate_price.products) }}<br>
        {{ form_widget(form_calculate_price.products) }}<br>
        {{ form_errors(form_calculate_price.products) }}</th>

        <th>{{ form_label(form_calculate_price.coupons) }}<br>
        {{ form_widget(form_calculate_price.coupons) }}<br>
        {% for key, value in arr_error %}
           {% if key == 'coupon' %}
                {{ value }}
            {% endif %}    
        {% endfor %}
        {{ form_errors(form_calculate_price.coupons) }}</th>

        <th>{{ form_label(form_calculate_price.taxes) }}<br>
        {{ form_widget(form_calculate_price.taxes) }}<br>
        {% for key, value in arr_error %}  
            {% if key == 'taxe' %}
                {{ value }}
            {% endif %} 
        {% endfor %}
        {{ form_errors(form_calculate_price.taxes) }}</th>

         <th>{{ form_widget(form_calculate_price.button, { 'label': 'Calculate', 'attr': {'class': 'save'} }) }}</th>

    {{ form_end(form_calculate_price) }}
   
{% endblock form_calculate_price %}


{% block table_calculate_price %}
{#Таблица#}
{#{% if arr_incoming_documents %}
    {% for arr_search_invoice in arr_incoming_documents %}
        {% if arr_search_invoice %}#}
            <th>Product price</th>
            <th>Coupon</th>
            <th>Tax</th>
            <th>Total amount</th>
            <th>Reset</th>
        {#{% endif %}
    {% endfor %}
{% else %}
    <h2>Видите параметры в поиск</h2> 
{% endif %}#}
{% endblock table_calculate_price %}

{% block tbody_calculate_price %}
    {#выводит таблицу по поиску#}
    {#{% for calculate in arr_calculate %}
            {% if arr_search_invoice %}
                {% for incoming_documents in arr_search_invoice %}

                    <tr>
                        {% if incoming_documents.getSales() == 1 
                        and incoming_documents.getRefund() == 1 %}#}

                            <td>{{ find_Product.getPriceProduct()|default('') }} euro</td>

                            <td>{{ find_one_by_coupon.getDiscount()|default('') }}
                            {% if find_one_by_coupon.getIdTypeCoupon().getId() == 1 %}
                                %|default('')
                            {% else %}
                                {{ euro|default('') }}
                            {% endif %}
                        </td>

                            <td>{{ find_one_by_tax.getTaxRate()|default('') }} %</td>

                            {#<td>{{ find_Product.getPriceProduct() - find_one_by_coupon.getTypeCoupon() + find_one_by_tax.getTaxRate() }}</td>#}

                            {{ form_start(form_calculate_price, {'action': path('reset')}) }}

                            <td>{{ form_widget(form_reset.button, { 'label': 'Reset', 'attr': {'class': 'reset'} }) }}</td>

                            {{ form_end(form_calculate_price) }}
                                {#Переменный для вывода данных в форме когда форма не прошла валидацию#}
 {#}                               {% set quantity_sold = '' %}
                                {% set price_sold = '' %}
                                {% set date_sold = '' %}

                                    {% for value_quantity_sold in app.flashes('quantity_sold') %}  
                                        {% set quantity_sold = value_quantity_sold %}
                                    {% endfor %}
                                    {% for value_price_sold in app.flashes('price_sold') %}  
                                        {% set price_sold = value_price_sold %}
                                    {% endfor %}
                                    {% for value_date_sold in app.flashes('date_sold') %}  
                                        {% set date_sold = value_date_sold %}
                                    {% endfor %}
                                
                                <td><input type="number" name="quantity_sold" required="required" 
                                    style="width: 70px" placeholder="шт" value="{{ quantity_sold }}" />
                                            {% for message in app.flashes('[quantity_sold_error]') %}
                                            {{ message }}
                                            {% endfor %}
                                            {% for message in app.flashes('[sum_quantity_sold_error]') %}
                                            {% endfor %}</td>

                                
                                <td><input type="number" name="price_sold" required="required" 
                                    style="width: 98px" placeholder="Цена" value="{{ price_sold }}" />
                                            {% for message in app.flashes('[price_sold_error]') %}
                                            {{ message }}
                                            {% endfor %}</td>
                                
                                <td><input type="date" name="date_sold" required="required" value="{{ date_sold }}" /></td>

                                <td><button class="sales" type="submit" name="sales" value="{{ incoming_documents.getId() }}">Продано</button></td>  

                            </form>

                            <form action="/refund_part" name="refund_part" method="get">

                                <td><button class="refund" type="submit" name="refund_part" value="{{ incoming_documents.getId() }}">Возврат</button></td>
                                
                            </form>
                            <form action="/delete_invoice" name="delete_invoice" method="post">

                                <td><button class="delete" type="submit" name="delete_invoice" value="{{ incoming_documents.getId() }}">Удалить</button></td>
                                
                            </form>
                        {% endif %}
                    </tr>   
                {% endfor %}
            {% else %}
                <h2>Данные не найдены. Видите параметры в поиск</h2>  
            {% endif %}
    {% endfor %}#}
    
{% endblock tbody_calculate_price %}