{% extends 'base.html.twig' %}

{% block h3 %}{% endblock h3 %}

{% block title %}{{title_logo}}{% endblock %}

{% block logo %}{{title_logo}}{% endblock %}

{% block legend %}{{legend}}{% endblock legend%}

{% block legend_response %}{{legend_response}}{% endblock legend_response %}

{% block name_product %}
    {% for value_product in arr_products %} 

            <th>{{ value_product.getNameProduct() }}</th>

    {% endfor %}        
{% endblock name_product %}

{% block price_product %}
    {% for value_product in arr_products %} 

        <td>{{ value_product.getPriceProduct() }} euro</td>

    {% endfor %}
{% endblock price_product %}

{% block h2 %}
    <br><h2>Select the product, if available, specify the discount coupon, specify the tax number</h2></br>
{% endblock h2 %}

{% block form_calculate_price %} 

    {#form calculate#}
    
    {{ form_start(form_calculate_price) }}

        <th>{{ form_label(form_calculate_price.products) }}<br>
        {{ form_widget(form_calculate_price.products) }}<br>
        {{ form_errors(form_calculate_price.products) }}</th>

        <th>{{ form_label(form_calculate_price.coupons) }}<br>
        {{ form_widget(form_calculate_price.coupons) }}<br>
        {% for key, value in arr_error %}
           {% if key == 'coupon' %}
                {{ value }}
            {% endif %}    
        {% endfor %}
        {{ form_errors(form_calculate_price.coupons) }}</th>

        <th>{{ form_label(form_calculate_price.taxes) }}<br>
        {{ form_widget(form_calculate_price.taxes) }}<br>
        {% for key, value in arr_error %}  
            {% if key == 'taxe' %}
                {{ value }}
            {% endif %} 
        {% endfor %}
        {{ form_errors(form_calculate_price.taxes) }}</th>

        {% do form_widget(form_calculate_price.payment_processor) %}

         <th>{{ form_widget(form_calculate_price.button, { 'label': 'Calculate', 'attr': {'class': 'save'} }) }}</th>

    {{ form_end(form_calculate_price) }}
   
{% endblock form_calculate_price %}


{% block table_calculate_price %}
{#Table#}
{% if find_Product is not empty %}
            <th>Product price</th>
            <th>Coupon</th>
            <th>Tax</th>
            <th>Total amount</th>
            <th>Reset</th>
{% endif %}
{% endblock table_calculate_price %}

{% block tbody_calculate_price %}
    <tr>
        {% if find_Product is not empty %}

            <td>{{ find_Product.getPriceProduct()|default('') }} euro</td>
                            
            <td>{{ find_one_by_coupon.getDiscount()|default('') }}
            {% if find_one_by_coupon is not empty %}
                {% if find_one_by_coupon.getIdTypeCoupon().getId() == 1 %}
                    %
                {% elseif find_one_by_coupon.getIdTypeCoupon().getId() == 2 %}
                    euro
                {% endif %}
            {% endif %}</td>

            <td>{{ find_one_by_tax.getTaxRate()|default('') }} %</td>

                <td>{% if find_one_by_coupon is not empty and find_one_by_coupon.getIdTypeCoupon().getId() == 1 %}
                    {{ (find_Product.getPriceProduct() 
                            - (find_Product.getPriceProduct() / 100 * find_one_by_coupon.getDiscount()))
                                + ((find_Product.getPriceProduct() - (find_Product.getPriceProduct() 
                                    / 100 * find_one_by_coupon.getDiscount()))
                      / 100 * find_one_by_tax.getTaxRate()) }}
                {% elseif find_one_by_coupon is not empty and find_one_by_coupon.getIdTypeCoupon().getId() == 2 %}
                    {{ (find_Product.getPriceProduct() - find_one_by_coupon.getDiscount())
                     + ((find_Product.getPriceProduct() - find_one_by_coupon.getDiscount())
                      / 100 * find_one_by_tax.getTaxRate()) }}
                {% else %}   
                    {{ find_Product.getPriceProduct() + (find_Product.getPriceProduct() / 100 * find_one_by_tax.getTaxRate()) }}
                {% endif %} euro</td>

            {{ form_start(form_calculate_price, {'action': path('reset')}) }}

            <td>{{ form_widget(form_reset.button, { 'label': 'Reset', 'attr': {'class': 'reset'} }) }}</td>

            {{ form_end(form_calculate_price) }}

        {% endif %}
    </tr>   
                
{% endblock tbody_calculate_price %}

{% block json_response %}
    <pre>
        {{response}}
    </pre>
{% endblock json_response %}